.customContainer {
  background: url(../assets/background.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.sub-cattegory {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.cattegory-link {
  width: 250px;
  height: 120px;
  color: #fff;
  font-size: 14px;
  transition: scale 0.2s ease;
  position: relative;
}

.cattegory-link::after {
  border: 3px solid #fff;
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  border-left-color: transparent;
  border-top-color: transparent;
  right: -4px;
  bottom: -4px;
  transition: all 0.3s ease-out;
}

.cattegory-link::before {
  border: 3px solid #fff;
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  border-right-color: transparent;
  border-bottom-color: transparent;
  left: -4px;
  top: -4px;
  transition: all 0.3s ease-out;
}

.cattegory-link:hover::before,
.cattegory-link:hover::after {
  width: 100%;
  height: 100%;
}

.cattegory-link > p {
  font-size: 18px;
  font-weight: 500;
}

.cattegory-link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #fff; */
}

.sub-cattegory > a:hover {
  scale: 1.05;
}

.container-title {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 20px #0000006b;
  width: max-content;
  line-height: 66px;
}

.container-p {
  color: #fff;
  font-size: 14px;
  margin: 30px 0px 30px 0px;
  line-height: 25px;
}

.container-link {
  color: #fff;
  font-size: 12px;
  width: max-content;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
}

.arrow-img {
  width: 20px;
}

/*  RESPONSIVE  */
@media (max-width: 768px) {
  .container-title {
    font-size: 50px;
    line-height: 50px;
  }

  .sub-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }

  .sub-cattegory {
    flex-direction: row;
    gap: 10px;
    text-align: center;
  }

  .cattegory-link {
    width: 50%;
    height: auto;
    font-size: 11px;
  }

  .cattegory-link > img {
    max-width: 75%;
    height: 75%;
    border: 2px solid #FFF;
  }

  .cattegory-link::after,
  .cattegory-link::before {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar-container {
    padding: 20px;
  }

  .container-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .container-title {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
  }

  .sub-container {
    gap: 50px;
  }

  .sub-cattegory {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
  }

  .cattegory-link {
    flex-basis: calc(50% - 10px);
    height: auto;
    font-size: 11px;
  }

  .cattegory-link > img {
    max-width: 75%;
    height: 75%;
  }
}

@media (max-width: 280px) {
  .container-title {
    font-size: 30px;
    line-height: 30px;
  }

  .container-content {
    gap: 0px;
  }

  .container-p {
    line-height: 20px;
  }

  .container-link {
    padding: 5px;
  }
}
