.content-bg {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    z-index: -1;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0 0 20px #0000006b;
    text-align: center;
    font-weight: 800;
    font-size: 80px;
    height: 500px;
}

.content-header > p {
    padding-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto auto 50px auto;
    width: 65%;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 20px;
}

.content-text-title {
    color: #032d78;
    font-weight: 900;
    font-size: 18px;
}

.content-text-p {
    font-size: 14px;
    color: #575656;
    line-height: 25px;
}

.content-text > a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.content-pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 16px;
}

.content-item {
    width: calc(33.3% - 16px);
    height: auto;
    overflow: hidden;
    position: relative;
}

.content-link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale .3s ease;
}

.content-link:hover > .content-link-img {
    scale: 1.1;
}

.content-link-text {
    bottom: 25px;
    left: 25px;    
    position: absolute;
    color: #FFF;
}

.content-link-text > p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-link-text > span {
    font-size: 12px;
    font-weight: 500;
}

.content-link-text > span > img {
    margin-left: 4px;
}

@media (max-width: 1440px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }

    .content-item {
        width: 49%;
        height: auto;
    }

    .content-pages {
        justify-content: space-between;
        gap: 10px;
    }

    .content-item:nth-last-child(1) {
        margin: auto;
    }
}

@media (max-width: 623px) {
    .content-item {
        width: 100%;
        height: auto;
    }

    .content-header {
        font-size: 50px;
        height: 300px;
    }

    .content-bg {
        height: 300px;
    }
}